.landing-container {
  background: var(--mat-black);
	height: 100%;
	overflow: hidden;
	position: fixed;
	width: 100%;
}

.landing-header {
	display: flex;
	flex-flow: column;
	height: 100vh;
	justify-content: center;
	padding-top: 21px;
	padding-left: 9vw;
}

.landing-name {
	font-size: 5vw;
	letter-spacing: 2px;
  line-height: 5vw;
  margin: 0;
}

.landing-subText {
  font-size: 2vw;
	letter-spacing: .5px;
	line-height: 2vw;
  padding-left: 8vw;
  margin: 0;
}

.landing-pageName {
  cursor: pointer;
	font-size: 2rem;
  position: absolute;
}

.landing-about, .landing-contact {
  top: -70px;
}

.landing-projects {
  top: -29px;
}

.zone {
  display: flex;
  border-bottom: 2px solid var(--line-white);
  justify-content: center;
  position: absolute;
  top: 0;
  width: 10000px;
}

.header_hidden,
.zone_hidden {
  color: transparent;
}

.header_hidden {
  transition: 0.2s;
}

.zone_hidden {
  transition: 0.3s;
}

@media (max-width: 1200px) {
	.landing-header {
		padding-top: 0;
		padding-left: 7vw;
	}

	.landing-name {
		font-size: 7vw;
		letter-spacing: 1px;
		line-height: 7vw;
	}

	.landing-subText {
		font-size: 2.8vw;
		letter-spacing: 1px;
    line-height: 2vw;
  }
  
	.landing-pageName {
    font-size: 2.2rem;
  }
  
  .landing-about,
  .landing-contact {
    top: -75px;
  }

  .landing-projects {
    top: -34px;
  }
}

@media (max-width: 800px) {
  .landing-pageName {
    font-size: 1.7rem;
  }

  .landing-about,
  .landing-contact {
    top: -58px;
  }

  .landing-projects {
    top: -25px;
  }
}

@media (max-width: 700px) {
	.line {
		box-shadow: 0 6px 0 0.1px var(--line-shadow);
	}
}

@media (max-width: 500px), (max-height: 300px) {
	.landing-header {
		padding-left: 15vw;
		width: 150px;
	}

	.landing-name {
		font-size: 1.8rem;
		line-height: 30px;
		padding-bottom: 3px;
	}

	.landing-subText {
		font-size: 1rem;
		line-height: 18px;
    padding-left: 4px;
    width: 150px;
  }
  
  .landing-pageName {
    font-size: 1.4rem;
  }

  .landing-about,
  .landing-contact {
    top: -48px;
  }

  .landing-projects {
    top: -19px;
  }
}
