.Landing {
  height: 100%;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.Header {
  display: flex;
  flex-flow: column;
  height: 100vh;
  justify-content: center;
  padding-top: 21px;
  padding-left: 9vw;
}

.Name {
  font-size: 5vw;
  letter-spacing: 2px;
  line-height: 5vw;
}

.SubText {
  font-size: 2vw;
  letter-spacing: .5px;
  line-height: 2vw;
  padding-left: 2vw;
}

.Line {
  border-bottom: 1px solid var(--line-main);
  box-shadow: 0 8px 0 .1px var(--line-shadow);
  position: absolute;
  width: 500vw;
}

.One {
  top: 0;
}

.Two {
  bottom: 0;
}

@media only screen and (max-width: 700px) {
  .Line {
    box-shadow: 0 6px 0 .1px var(--line-shadow);
  }
}

@media only screen and (max-width: 850px) {
  .Header {
    padding-top: 0;
    padding-left: 7vw;
  }

  .Name {
    font-size: 7vw;
    letter-spacing: 1px;
    line-height: 7vw;
  }
  
  .SubText {
    font-size: 2.8vw;
    letter-spacing: 1px;
    line-height: 2vw;
    padding-left: 2vw;
  }
}

@media only screen and (max-width: 500px) {
  .Header {
    padding-left: 20vw;
    width: 150px;
  }

  .Name {
    font-size: 30px;
    line-height: 30px;
    padding-bottom: 3px;
  }

  .SubText {
    font-size: 15px;
    line-height: 18px;
    padding-left: 3px;
  }
}