.App {
  height: 100vh;
  width: 100vw;
}

.page-body {
  font-size: 1.5rem;
  margin: 100px 10%;
  padding: 0 5%;
  position: absolute;
  width: 80%;
  z-index: -20;
}

.page-overlay {
  background: #383838;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: -15;
  transition: 1s;
}

@media (max-width: 650px) {
  .page-body {
    top: -30px;
  }
}
