:root {
  --true-black: #000;
  --mat-black: #383838;
  --dark-grey: #6E6E6E;
  --light-grey: #A19F9F;
  --light-tan: #DCB;
  --letter-white: #EEE;
  --line-white: #FFF;
}

body {
  background-color: var(--mat-black);
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  color: var(--letter-white);
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}