:root {
  --letter-white: #FFFFFF;
  --line-main: rgba(255, 255, 255, 0.8);
  --line-shadow: rgb(88, 88, 88, 0.5);;
}

body {
  background-color: #383838;
  box-sizing: border-box;
  font-family: serif;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

* {
  color: var(--letter-white);
  font-family: serif;
  font-weight: 100;
}