.page-body.project-body {
	margin-top: 100px;
}

.project-card-container {
	font-size: 1.2rem;
	margin: 0 auto 30px;
	width: 700px;
}

.card-title {
  background: var(--mat-black);
  font-size: 25px;
  padding: 5px 20px;
	width: 100%;
}

.card-video,
.card-image {
	border: 1px solid white;
}

.card-image {
	align-items: center;
	display: flex;
	height: 320px;
	justify-content: center;
	position: relative;
	width: 100%;
}

.card-image .card-image-preview {
	height: 100%;
	width: 100%;
}

.card-header {
	display: flex;
	justify-content: space-between;
}

.card-link-container {
	align-items: center;
	background: white;
	display: flex;
}

.card-link-container .card-link {
	margin: 5px 10px 0;
	height: 35px;
	width: 35px;
}

.card-details {
	background: var(--mat-black);
	position: relative;
}

.details-display {
	padding-top: 20px;
}

.card-tabs {
	display: flex;
	justify-content: space-around;
	position: absolute;
	top: 0;
	width: 100%;
}

.summary-tab,
.experience-tab,
.technology-tab {
	background: #383838;
	border-top: none;
	cursor: pointer;
	display: flex;
	flex: 1;
	justify-content: center;
	padding: 5px 0;
	margin: 0;
}

.details-body {
	margin: 0;
	padding: 10px 30px;
}

.tab_active {
	color: black;
	background: white;
}

@media (max-width: 1000px) {
	.project-card-container {
		font-size: 1rem;
		width: 600px;
	}
}

@media (max-width: 800px) {
	.project-card-container {
		width: 500px;
	}

	.card-image {
		height: 280px;
	}
}

@media (max-width: 700px) {
	.project-card-container {
		width: 400px;
	}

	.card-image {
		height: 220px;
	}
}

@media (max-width: 500px) {
	.page-body.project-body {
		margin-top: 100px 0;
		width: 100%;
	}

	.project-card-container {
		width: 100%;
	}

	.card-image {
		height: 220px;
	}

	.card-link-container {
		height: 41px;
	}

	.card-link-container .card-link {
		height: 30px;
		width: 30px;
	}
}

@media (max-width: 400px) {
	.card-tabs {
		font-size: .8rem;
	}
}
