.page-body.project-body {
  margin-top: 100px;
}

.project-card-container {
  border: 1px solid white;
  font-size: 1.2rem;
  margin: 0 auto 30px;
  width: 700px;
}

.card-image {
  align-items: center;
  background: white;
  border-bottom: 1px solid white;
  display: flex;
  height: 320px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.card-image .card-image-preview {
  height: 99.9%;
  width: 99.9%;
}

.card-link-container {
	align-items: center;
	background: white;
	border-top: 1px solid white;
	border-right: 1px solid white;
	bottom: -1px;
	display: flex;
	height: 38px;
	justify-content: space-around;
	padding: 0 0 0 5px;
	position: absolute;
	left: 0;
	width: 100px;
}

.card-link-container .card-link {
	cursor: pointer;
	height: 30px;
	margin-top: 5px;
	width: 30px;
}

.card-link-container .card-link-external {
	margin-top: 3px;
}

.card-link-container .card-link-github {
	height: 28px;
	width: 29px;
}

.card-details {
	position: relative;
}

.details-display {
	padding-top: 20px;
	overflow: scroll;
}

.card-tabs {
  display: flex;
	position: absolute;
	top: 0;
}

.summary-tab,
.experience-tab,
.technology-tab {
	background: #383838;
  border: 1px solid white;
  border-top: none;
	padding: 5px 15px;
	margin: 0;
}

.details-body {
	margin: 0;
	padding: 10px 30px;
}

.tab_active {
	color: black;
	background: white;
}

@media (max-width: 1000px) {
  .project-card-container {
    font-size: 1rem;
    width: 600px;
  }
}

@media (max-width: 700px) {
  .project-card-container {
    width: 400px;
  }

  .card-image {
    height: 220px;
  }
}

@media (max-width: 500px) {
  .page-body.project-body {
    margin-top: 100px 0;
    width: 100%;
  }

  .project-card-container {
    width: 100%;
  }

  .card-image {
    height: 220px;
  }
}

@media (max-width: 400px) {
  .card-tabs {
    font-size: .8rem;
  }
}